.container  {
    font-size :62.5%;
    width : 90%;
    max-width: 600px;
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0px 5px 30px 10px rgba(0, 0, 0, 0.2);
}

.slide  {
    @media screen and (min-width : 768px) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end:3 ;
        justify-self: center;
    }
}
.subscription  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 5px;
    height: 275px;

    @media screen and (min-width : 768px)  {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr ;
        padding: 40px 50px;
    }


    &__title  {
        text-transform: uppercase;
        letter-spacing: 1px;
        color:$grayish-blue ;
        font-size: 1.3rem;
        font-weight: 800;
        
        @media screen and (min-width : 768px) {
            grid-column-start: 1;
            grid-column-end: 2;
        }
    
    }
    &__slidebar  {
        width: 100%;
        @media screen and (min-width : 768px) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end:3 ;
        }
    }
    &__price  {
        display: flex;
        font-size: 1.2rem;
        color: $grayish-blue;
        font-size: 800;

        & > p > span {
            font-weight: 800;
            font-size: 3rem;
            color: $dark-desatured-blue;
        }
    }

}
input[type=range].slidebar__input  {
    background:linear-gradient(to right,
    hsl(174, 77%, 80%) 0%,
    hsl(174, 77%, 80%) 50%,
    hsl(224, 65%, 95%) 0%,
    hsl(224, 65%, 95%) 100%,
    ) ;
    border-radius: 5px;
    height: 8px;
    width: 200px;

    @media screen and (min-width : 768px) {
        width: 500px;
    }
}
input[type=range].slidebar__input::-webkit-slider-thumb{    
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 1500px;
    background-color: $strong-cyan;
    background-image: url('../images/icon-slider.svg');
    background-position: center;
    background-repeat: no-repeat;
    // box-shadow: 2px 2px 1px 5px $strong-cyan;

    &:hover  {
        background-color: hsl(174, 86%, 30%);
    }
}
input[type=range].slidebar__input::-webkit-slider-runnable-track{    
    color: red;
    background-color: transparent;
}


.toggle  {
    display: flex;
    align-items: center;
    column-gap: 15px;

    @media screen and (min-width : 768px) {
        grid-column-start: 1;
        grid-column-end: 3;
       justify-self: flex-end;
    }

    &__month{
        align-items: center;
        font-size: 1.2rem;
        color: $grayish-blue;
    }

    &__switch  {
        display: inline-block;
        position: relative;
        width: 50px;
        height: 25px;
        cursor: pointer;
        overflow: hidden;
        border-radius: 20px;

        &__slider  {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $ligth-grayish-blue;
            transition: 0.5s;
            border: 5px solid $ligth-grayish-blue;
            box-shadow: inset 4px 4px 4px rbga(0, 0, 0, 0.7);

        
    
        

            &:before  {
                position: absolute;
                content: "";
                // bottom: 14px;
                border-radius: 50%;
                width: 17px;
                height: 17px;
                top: 50%;
                transform: translateY(-50%);
                background-color: $white;
                transition: 0.5s;
               
            }
        }
    }
        &__year  {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 7px;
            align-items: center;
            font-size: 1.2rem;
            color: $grayish-blue;
            position: relative;
            }
   
}
.toggle__switch input  {
    display : none;
}

.toggle__switch__checkbox:checked + .toggle__switch_slider  {
    background-color: red;
}
.toggle__switch_slider.round {
    border-radius: 50px;
    background-color: red;
    &:before  {
        width: 100%;
        height: 100%;
        // border-top-left-radius: 50px;
        // border-top-right-radius: 50px;
        transform: translateX(32px);
    }
}
.toggle__switch__checkbox:checked + .toggle__switch__slider:before  {
    transform: translate(22px, -50%);
    background-color: $white;
    top: 50%;
}



.discount  {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1rem;
    font-weight: 800;
    color: $ligth-red;
    background-color: hwb(14 77% 1% / 0.359);
    width: 35px;
    height: 18px;
    border-radius: 7px;
    @media screen and (min-width : 768px) {
        padding-left:5px;
        width: 84px;
        justify-content: flex-start;
        &:after  {
            content: "discount";
            position: absolute;
            left: 34px ;
        }
    }
}



.list  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.134);
    padding: 25px 50px;

    @media screen and ( min-width:768px)  {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        
    }
    p:nth-child(1)  {
        @media screen and ( min-width:768px) {

        }
    }
    p:nth-child(2)  {
        @media screen and ( min-width:768px) {
 
        }
    }
    p:nth-child(3)  {
        @media screen and ( min-width:768px) {
            
        }
    }
    p {
        position: relative;
        font-size: 1.1rem;
        color : $grayish-blue;
        margin-top : 15px;

        &:before  {
            content: "";
            position: absolute;
            background: url('../images/icon-check.svg') center/cover no-repeat;
            width: 10px;
            height: 10px;
            left: -25px;
        }
    }

    &__btn  {
        color: $pale-blue;
        background-color: $dark-desatured-blue;
        border: 0;
        border-radius: 25px;
        height: 40px;
        width: 70%;
        max-width: 300px;
        margin-top: 35px;

        &:hover  {
            color: $white;
        }

        @media screen and ( min-width:768px)  {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end:4 ;
            place-items: center;
            justify-self: center;
        }
    }
}

.active  {
    background: $soft-cyan;
    border: 5px solid $soft-cyan;
}